/** font size **/
@font-middle:14px;

/** font weight **/
@font-bold:700;

@font-family: "Microsoft YaHei, Hiragino Sans GB, STXihei, Open Sans, sans-serif";

/** font preset **/
@page-section-title: 300 16px @font-family;


@font-default-color: @B900;
@font-primary-color: @H500;
@font-disabled-color:@B500;